body {
    background-color: gray;
}
.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tags{ 
    border-radius: 20px;
}

.promps {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 80px;
}

.search-input {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.search-button {
    padding: 8px 12px;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
}
